<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Регистрация</title>
</head>
<body>
    <h2>Регистрация</h2>
    <div th:if="${message}">
        <div th:text="${message}"></div>
    </div>
    <form th:action="@{/registration}" method="post" id="login-form">
        <p><label for="email">Email</label>
        <input type="email" name="email" id="email" placeholder="Введите email"/></p>
        <p><label for="firstName">Имя</label>
        <input type="text" name="firstName" id="firstName" placeholder="Введите имя"/></p>
        <p><label for="secondName">Фамилия</label>
        <input type="text" name="secondName" id="secondName" placeholder="Введите фамилию"/></p>
        <p><label for="patronymic">Отчество</label>
        <input type="text" name="patronymic" id="patronymic" placeholder="Введите отчество"/></p>
        <p><label for="password">Пароль</label>
        <input type="password" name="password" id="password" placeholder="Введите пароль"/></p>
        <button type="submit">Зарегистрироваться</button>
    </form>

    <a th:href="@{/login}">Войти</a>
</body>
</html>